/* background-color: #f4f4f4;
 
secondary : #24445c
 
orange : #f28c28 */
 
:root {
--primary: #f4f4f4;
--secondary: #24445c;
--accent: #f28c28;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary);
}

header {
    background-color: #4f6d7a;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: var(--secondary);
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

main {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
}

section {
    background-color: #e8f1f2;
    margin-bottom: 20px;
    padding: 20px;
}

.cta {
    background-color: var(--accent);
    color: white;
    padding: 10px 20px;
}

footer {
    background-color: var(--secondary);
    color: white;
    text-align: center;
    padding: 15px;
}